<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :delete, remote: true do %>
  <span class="favorite-icon"><i class="fas fa-heart"></i><%= book.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :post, remote: true do %>
    <i class="far fa-heart"></i><%= book.favorites.count %>
  <% end %>
<% end %>